# KiCad 4, 5 and 6
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-bak
*-bak*
*-backups
*_autosave.kicad_pcb
*_autosave.kicad_sch
*.kicad_prl
*.sch-bak
*~
*.net
*.xml
*.csv
.DS_Store
*.cmp
*.stf
*.kicad_mod
*.kicad_wks
fp-info-cache
# For autosave
_autosave-*
# For 3D models from Eagle
*.step